<?xml version="1.0" ?>
<robot name="pi_robot">

	<!-- * * * Link Definitions * * * -->
	<material name="blue">
	    <color rgba="0 0 0.8 1"/>
	</material>

	<material name="green">
	    <color rgba="0 0.6 0 0.8"/>
	</material>

	<material name="brown">
	    <color rgba="0.3 0.15 0.05 1.0"/>
	</material>




 	<link name="base_link">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="1 1 0.02"/>
			</geometry>
			<material name="green">
	     	</material>
		</visual>	
	</link>


  	<link name="link1">
		<visual>
			<origin xyz="0 0 0.5" rpy="0 0 0"/>
			<geometry>
				<cylinder radius="0.1" length="1"/>
			</geometry>
	     	<material name="brown">
			</material>
	   </visual>
	</link>

  	<link name="link2">
		<visual>
			<origin xyz="0 0 0.25" rpy="0 0 0"/>
			<geometry>
				<cylinder radius="0.05" length="0.5"/>
			</geometry>
	     	<material name="brown">
			</material>
	   </visual>
	</link>
	
	<link name="leaf1">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size=".1 .1 .1"/>
			</geometry>
			<material name="green">
	     	</material>
		</visual>	
	</link>
	
	
	
	<!-- * * * Joint Definitions * * * -->


	<joint name="link1_joint" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    
	<parent link="base_link"/>
    	<child link="link1"/>
    	<origin xyz="0 0 0.01" rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
	<dynamics damping="10.0"/>
	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
	</joint>

	<joint name="link2_joint" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link1"/>
    	<child link="link2"/>
    	<origin xyz="0 0 1" rpy="0 0 0"/>
    	<axis xyz="0 1 0"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint>
  	
  	<joint name="link3_joint" type="revolute">
	<safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    	<parent link="link2"/>
    	<child link="leaf1"/>
    	<origin xyz="0 0 0.5" rpy="0 0 0"/>
    	<axis xyz="0 1 0"/>
	<dynamics damping="10.0"/>
    	<limit lower="-3.1416" upper="3.1416" effort="10" velocity="3"/>
	<limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  	</joint>
  
</robot>
